////
/// Contact item styling
////

@import '../../../../../assets/sass/variables';

:host {
  display: block;
}

.contact-item {
  cursor: default;
  padding: 3px 10px 3px 40px;
  font-size: 1.3rem;
  font-weight: 600;

  &-active {
    background: $blue-color;
  }
}

.text-highlight,
.text-highlight:hover {

}

.contact-name {
  white-space: nowrap;
  overflow: hidden;
  max-width: 90%;
  text-overflow: ellipsis;

  &:hover {
    color: lighten($black-color, 20%);
  }

  .contact-item-active &,
  .contact-item-active &:hover {
    color: $white-color;
  }
}

fa-layers {
  border-radius: 11px;
  background: $white-color;
  top: 5px;
}

fa-icon {
  color: $red-color;

  &:hover {
    color: lighten($red-color, 5%);
  }
}
