////
/// Contact edit form styling
////

@import '../../../../assets/sass/variables';
@import '../../../../assets/sass/mixins';

:host {
  @include content-container;
}

label {
  color: $text-muted;
}

textarea {
  resize: none;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 1.2;
}

#address {
  height: 85px;
}

#note {
  height: 120px;
}
