<div class="root-container d-flex flex-row align-items-stretch h-100 w-100">
  <app-contacts-list
    [contactGroups]="contactGroups"
    [isRemoveAllowed]="isRemoveAllowed"
    (select)="onContactItemSelect($event)"
    (remove)="onContactRemove($event)">
  </app-contacts-list>

  <app-contact
    [contact]="activeContact"
    [mode]="mode"
    (editClick)="onEditClick()"
    (addClick)="onAddClick()"
    (update)="onContactUpdate($event)"
    (create)="onContactCreate($event)">
  </app-contact>
</div>
