////
/// Mixins
////

@import 'variables';

@mixin content-container {
  padding: 100px 70px 20px;
  display: block;
  height: 100%;

  .row,
  .form-row {
    padding: 6px;

    &:not(:last-child) {
      border-bottom: 1px solid $gray-light-color;
    }
  }

  .field-label {
    color: $text-muted;
    text-align: right;
  }
}

