////
/// Theme variables
////

//COLORS
//------

$white-color: #ffffff;
$black-color: #212123;
$blue-color: #0462e0;
$red-color: #ff3930;
$gray-light-color: #e0e1e3;
$gray-darker-color: #c3c3c3;
$gray-dark-color: #6e6f71;

//FONTS
//------
$font-family-base: Roboto, Arial, sans-serif;
