////
/// General styles
////

@import 'variables';

html,
body {
  height: 100%;
  overflow: hidden;
}

.btn-contact {
  border: 1px solid $gray-darker-color;
  color: $black-color;
  font-size: 1.3rem;

  &:hover {
    border-color: darken($gray-darker-color, 10%);
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.scroll-start-bottom .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
