////
/// General styles
////

html,
body {
  height: 100%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.scroll-start-bottom .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
